<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  uni page
  <p>
    feild: 제이슨 형식의 데이터 전송 (키, 벨류로만 보내면 알아서 제이슨형식으로 만들어서 보내줌)
  </p>
  <p>
    send: 스트링, 오브젝트 등 innerHTML 같은 녀석
  </p>
  <p>
    쿼리는 오브젝트만됨
  </p>
  <p>
    필드스는 
  </p>


  <p>
    <div>번외</div>
    <p>로거는 라우터에서 응답을 보냈을때, 응답요청 get url 이름과 응답을 콘솔에 보내줌 </p>
    <div>
        GET /uni 304 11.214 ms - -
        GET /uni/user 404 2.130 ms - 84        
    </div>
  </p>
  <script>
    
  </script>
</body>
</html>